<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751030659490-gt22573dam9uefi9nej8nfpcq5hv1qg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751030659490-gt22573dam9uefi9nej8nfpcq5hv1qg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAXXgwi81I0AR9LJO0fcKlZ9FN0QlKI42Y</string>
	<key>GCM_SENDER_ID</key>
	<string>751030659490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webphada</string>
	<key>PROJECT_ID</key>
	<string>webphada</string>
	<key>STORAGE_BUCKET</key>
	<string>webphada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751030659490:ios:9c7cb02d0b024ca7fd2afb</string>
</dict>
</plist>